# Database Configuration
DB_NAME=image_gallery
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-3=s2b5t++ey@%eeoiv48jzmrmvkscpxw4ds#a8ur851@ke*=0@

# Allowed Hosts (comma-separated)
ALLOWED_HOSTS=localhost,127.0.0.1
